# Datasets Task

In this task you will use pandas to select data from a dataset and explain the data retrieved for a given line of code.

In [7]:
import pandas as pd

You will use the same `balance.txt` dataset used in the example Jupyter notebook. Remember to ensure it is in the same folder as this notebook.

In [ ]:
df = pd.read_csv('balance.txt',sep=' ')

1. Write the code that performs the action described in the following statements.

In [45]:
# Select the 'Limit' and 'Rating' columns of the first five observations
limit_and_rating = df[['Limit', 'Rating']].head(5)
print(limit_and_rating)

   Limit  Rating
0   3606     283
1   6645     483
2   7075     514
3   9504     681
4   4897     357

In [43]:
# Select the first five observations with 4 cards
user_with_four_cards = df[df['Cards']== 4].head(5)
print(user_with_four_cards)

      Balance   Income  Limit  Rating  Cards  Age  Education  Gender Student  \
2   22.530409  104.593   7075     514      4   71         11    Male      No
5   22.486178   80.180   8047     569      4   77         10    Male      No
10  13.994990   63.095   8117     589      4   30         14    Male      No
20   9.853100   17.700   2860     235      4   63         16  Female      No
29  14.007770   26.813   5611     411      4   55         16  Female      No

   Married  Ethnicity
2       No      Asian
5       No  Caucasian
10     Yes  Caucasian
20      No      Asian
29      No  Caucasian

In [35]:
# Sort the observations by 'Education'. Show users with a high education value first.
sorted_list = df.sort_values('Education', ascending = False).head(2)
print(sorted_list)

      Balance  Income  Limit  Rating  Cards  Age  Education  Gender Student  \
51  13.010768  39.705   3969     301      2   27         20    Male      No
60  13.297283  35.510   5198     364      2   35         20  Female      No

   Married         Ethnicity
51     Yes  African American
60      No             Asian

2. Write a short explanation in the form of a comment for the following lines of code. For example:  
```
# Selects the first 5 rows, and all of the columns for those rows.
df.iloc[:5,:]
```

In [36]:
# [This will select the whole DataFrame]
df.iloc[:,:]

     Balance   Income  Limit  Rating  Cards  Age  Education  Gender Student  \
0  12.240798   14.891   3606     283      2   34         11    Male      No
1  23.283334  106.025   6645     483      3   82         15  Female     Yes

  Married  Ethnicity
0     Yes  Caucasian
1     Yes      Asian

In [39]:
# [5: This will select rows from row index 5]
# [,5: will select columns from column index 5
df.iloc[5:,5:]

     Age  Education  Gender Student Married         Ethnicity
5     77         10    Male      No      No         Caucasian
6     37         12  Female      No      No  African American
7     87          9    Male      No      No             Asian
8     66         13  Female      No      No         Caucasian
9     41         19  Female     Yes     Yes  African American
..   ...        ...     ...     ...     ...               ...
395   32         13    Male      No     Yes         Caucasian
396   65         17    Male      No      No  African American
397   67         12  Female      No     Yes         Caucasian
398   44         13    Male      No     Yes         Caucasian
399   64          7  Female      No      No             Asian

[395 rows x 6 columns]

In [40]:
# [It will print the whole DataFrame wiht only one colum(first one)]
df.iloc[:,0]

0      12.240798
1      23.283334
2      22.530409
3      27.652811
4      16.893978
         ...
395     8.764984
396     9.943838
397    14.882078
398    12.001071
399    10.159598
Name: Balance, Length: 400, dtype: float64

In [42]:
# [This will print all the columns for the row index numer 9]
df.iloc[9,:]

Balance             17.756965
Income                 71.061
Limit                    6819
Rating                    491
Cards                       3
Age                        41
Education                  19
Gender                 Female
Student                   Yes
Married                   Yes
Ethnicity    African American
Name: 9, dtype: object